body {
  background-color: #eee;
  box-sizing: border-box;
}
.post-wrapper {
  width: 95%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.post {
  width: 250px;
  height: 350px;
  background: #fff;
  margin-bottom: 25px;
  padding: 1em;
  border-radius: 5px;
  cursor: pointer;
}