.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1em;
}
.card {
  width: 250px;
  height: 350px;
  border-radius: 3px;
  box-shadow: 1px 2px 5px #ddd;
  margin: 1em;
  cursor: pointer;
  padding: 1em;
  background-color: #fff;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  font-size: 16px;
  font-weight: 400;
}
.body {
  font-size: 16px;
  font-weight: 300;

}